---
---

@import 'main';
img {
  animation: none !important;
  transform: none !important;
  transition: none !important;
}
/* append your custom style below */
.copy-code-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 2px 1em 0 10px; /* arriba | derecha | abajo | izquierda */
  background: #2f2f2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.copy-code-button:hover {
  background: #2f2f2f;
}

.highlight {
  position: relative;
  padding-top: 0px; /* Ajustar según sea necesario */
}
